.sidebar {
  width: 240px;
  background-color: #6F7B9A;
  position: absolute;
  top: 89.5px;
  left: 0;
  height: calc(92.8vh - 90px); /* Adjust height to fill remaining viewport */
  transition: width 0.3s; /* Add transition for smoother resizing */
  overflow-y: auto; /* Add overflow-y for scrolling if content exceeds height */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0;
}

.sidebar a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 16px;
  display: block;
  padding: 20px;
  padding-bottom: 45px;
  transition: background-color 0.3s;
}

.sidebar .sidebar ul li span.icon {
  margin-right: 30px;
}

.sidebar a:hover {
  background-color: #2C3268;
}

.sidebar .active a {
  background-color: #2C3268;
}

.notification-count {
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 1px 6px;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  bottom: 470px;
}

.notification-link {
  position: relative;
}

.assign {
  margin-left: -32.5px;
  margin-bottom: 30px;
}


.qwerty_analytics {
  margin-left: -21.5px;
}

.qwerty_userprofile {
  margin-left: -6.5px;
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
  .sidebar {
      width: 190px;
  }
}

@media (max-width: 768px) {
  .sidebar {
      width: 160px;
  }

  .sidebar a {
      font-size: 14px;
      padding: 15px; /* Adjust padding for smaller screens */
      padding-bottom: 35px;
  }

  .notification-count {
      font-size: 8px;
      bottom: 320px; /* Adjust based on notification position */
  }
}

@media (max-width: 576px) {
  .sidebar {
      width: 100%; /* Occupy full width on smaller screens */
      position: relative; /* Change position to relative */
      top: 0;
      height: auto; /* Reset height for auto sizing */
  }

  .sidebar ul {
      padding: 10px; /* Add some padding for better spacing */
  }

  .sidebar li {
      margin-bottom: 10px; /* Add margin between list items */
  }

  .sidebar a {
      padding: 8px; /* Adjust padding for smaller screens */
      padding-bottom: 20px;
  }

  .notification-count {
      right: 10px; /* Adjust position of notification count */

    }
}


