.sidebar{
    height:81.7%;
    width:220px;
    background-color: #6F7B9A;
    position: absolute;
    top: 76px;
    left: 0;
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    li {
      margin-bottom: 0px;
    }
    
    a {
      text-decoration: none;
      color: #ecf0f1;
      font-size: 16px;
      display: block;
      padding: 10px;
      padding-bottom:30px;
      transition: background-color 0.3s;
    }
  
    .sidebar ul li span.icon {
      margin-right: 30px; 
    }
    
    a:hover {
      background-color: #2C3268;
    }
    
    .active a {
      background-color: #2C3268 ;
    }
}