/* Footer.css */

footer {
  background-color: #2c3268;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0%;
}   

@media (width <= 600px) {
  footer {
    /* position: static;  */
  }
}
