/* side bar */

.sidebar {
  /* height: 100%; */
  width: 220px;
  background-color: #6F7B9A;
  position: absolute;
  padding-top: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  /* z-index: -1; */
  
  /* .sidebar ul li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }  */

  ul {
    list-style: none;
    padding: 0;
  }

  li {
     margin-bottom: 0px; 
    /* display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
    align-items: center; */
  
  }

  a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
  }
/* 
  .sidebar ul li span.icon {
    margin-right: 30px;
  } */

  /* .li a span path{
    padding-right: 100px;
  } */

  

  a:hover {
    background-color: #404783;
  }

  .active a {
    background-color: #404783;
  }
}
