.test{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 300px;
  background-color: #2C326817;
  border-radius: 12px; */
   gap: 12px;
  /* padding: 36px; */
}
.user-prof {
  min-width: 350px;
  background-color: #2C326817;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 48px 0px 48px;
  margin-top: 60px;
} 

/* .col-1 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 18px 32px 0px 32px;
 margin-top: 60px;
} */


.test input {
 border-radius: 12px;
 padding: 6px 8px;
 border: none;
 width: 100%;
}

.test input:focus {
 outline: none;
}

/* .col-1 label {
 min-width: 150px;
} */

#form >  input{
  border: 1px solid #e9ecef;
  
  padding: .6em .6em;
}

#form > input:focus{
  outline: none;
}

#form > .userprof-btn{
  background-color: #2C3268;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px ;
  transition: background-color 0.3s;
  width: 60%;
  border: 1px solid #e9ecef;
  padding: .6em .6em;
 
  
  }
.test{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-prof img {
  border-radius: 50%;
 }

#input-item{
  width:100%
}