.notification-01 {
    background-color: #d6daf9ba;
    margin-top: 1px;
    border: 10px #032a54 solid;
    border-radius: 19px;
    padding: 15px;
  
  }
  
  .setit{
    margin-top: 70px;
  }
  
  .not-01 {
    border-bottom: 5px solid #032a54;
    margin: 3px;
    margin-left: 10px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-top: 10px;
    font-size: larger ;
  }
  
  .not-01 p {
    font-family: Tahoma;
    font-size: 0.6em ;
    color: #66696c;
  }
  
  .butn{
    background-color: #2c3268;
    color: #F3F3F8;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 90px;
    cursor: pointer;
    padding: 13px 20px;
    font-size: 17px;
    text-align: center;
    border: 1px solid #3498db;
    border-radius: 24px;
    float: left;
  }
  
  .butn1{
    background-color: #2c3268;
    color: #F3F3F8;
    margin-left: -50px;
    border-radius: 90px;
    cursor: pointer;
    padding: 11px 40px;
    font-size: 17px;
    text-align: center;
    border: 1px solid #3498db;
    border-radius: 24px;
    margin-top: 100px;
    margin-right: 70px;
  }
  
  .butn2{
    background-color: #2c3268;
    color: #F3F3F8;
    margin-left: 70px;
    border-radius: 90px;
    cursor: pointer;
    padding: 11px 22px;
    font-size: 17px;
    text-align: center;
    border: 1px solid #3498db;
    border-radius: 24px;
    margin-top: 130px;
    margin-left: 6px;
  }
  
  .butn3{
    background-color: #2c3268;
    color: #F3F3F8;
    margin-left: 90px;
    margin-top: 110px;
    border-radius: 90px;
    cursor: pointer;
    padding: 11px 32px;
    font-size: 17px;
    text-align: center;
    border: 1px solid #3498db;
    border-radius: 24px;
  }
  
  .empty-notification{
    border: 10px #032a54 solid;
    padding: 210px 240px;
    margin-left: 0px;
    font-size: 27px;
    color: #032a54;
    background-color: #d6daf9ba;
    margin-top: 90px;
    margin-bottom: 30px;
    border-radius: 19px;
  }