
.form-container {
  display: flex;
  justify-content: center;
  font-size: larger;
  align-items: center;
  height: 50vh;
  margin-top: -160px;
}
  
form {
  width: 300px;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 80px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  label {
    display: block;
    margin-bottom: 17px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #1c203f;
    color: #fff;
    padding: 12px 30px;
    margin-left: 115px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  /*

  .newpage{
    max-width: 500px;
    width: 100vw;
    display:flex;
    border: 1px solid #66696c;
    border-radius: 8px;
    background-color: white;
    margin-top: -70px;
  }
  
  
  .newpage span{
    color: #adb5bd;
  }
  
  #newfrm{
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
  }
  
  #newfrm >  input, .signbtn{
    border: 1px solid #e9ecef;
    padding: .9em 1em;
  }
  
  #newfrm > input:focus{
    outline: none;
  }
  
  #newfrm > .signbtn{
    background-color: #2C3268;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px ;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #095cae; 
    }
  
  }
  @media (max-width: 768px) {
    .form {
      max-width: 90%; 
    }
  }
  @media (max-width: 480px) {
    .form-input,
    .form-btn {
      font-size: 12px; 
    }
  }
  
  .flex{
    display: flex;
    gap: 1em;
  }
  
  .flex-col{
    flex-direction: column;
  }

  */