.register3 {
    width: 550px;
    margin: 80px auto;
    padding: 20px ;
    border: 1px solid black;
    border-radius: 19px;
    background-color: #d5e2f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: 200px;
}

/*max-width: 900px;
width: 100%;
 inside register3*/

form {
    font-size: 12px;
}

.form-row {
    margin-bottom: -4px;
    width: 420px;
    margin-left: -50px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

btn:hover {
    background-color: #0056b3;
}

.error-row {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
