.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20%;
  cursor: pointer;
}

.card {
  flex: 0 0 calc(30% - 20px);
  max-width: calc(30% - 20px);
  width: 160px;
  height: 150px;
  background: #d4e1f2;
  border-radius: 10px;
  padding: 15px 10px;
  transition: .3s;
  border: 2px solid transparent;
  font-size: 16px; /* Adjust font size for readability */
  position: relative;
  color: black;
  box-shadow: 0 4px 8px rgba(37, 36, 36, 0.1);
  margin-bottom: 20px; /* Add spacing between cards */
}

.card:hover {
  border-color: #2C3268;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.containe {
  max-width: 100%; /* Adjust max-width to occupy full width */
  width: 100%;
  margin: auto;
  padding: 0px 20px;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container1 {
  position: relative; /* Change position to relative for normal flow */
  text-align: center; /* Center align button */
  margin-bottom: 20px;
}

.bottom-button1 {
  padding: 10px 20px;
  background-color: #2C3268;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 200px; /* Set button width explicitly */
}

.icon-container {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 20px); /* Two cards per row on smaller screens */
    max-width: calc(50% - 20px);
  }
  
  .button-container1 {
    margin-bottom: 10px; /* Reduce margin for button container */
  }

  .bottom-button1 {
    width: 150px; /* Reduce button width for smaller screens */
  }
}
