.registerLog {
    max-width: 450px;
    width: 100vw;
    display: flex;
    border: 1px solid #e9ecef;
    border-radius: 30px;
    background-color: #dce7ee;
    margin: 130px; /* Center the container horizontally */
    max-height: 300px;
}

.flex{
    display: flex;
    gap: 1.0em;
  }
  
.col-1-log{
    margin: auto;
    padding: 3em 0;
    margin-top: -80px;
    background-size: 100px;
    
}

.additional-links {
    margin-top: 10px;
}

.additional-links a {
    text-decoration: none;
    color: #3498db;
}

.additional-links span {
    margin: 0 5px;
    color: #777;
}
.image {
    max-width: 100%;
    width: 1530px;
    margin-bottom: 20px;
    margin-top: -450px;
    margin-left: 0px;
  }