@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background: #F3F3F8;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register{
  max-width: 450px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 30px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: #dce7ee;
  margin-top: 200px;
  margin-bottom: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  overflow: hidden;
  max-height: 800px;
}

.register-error{
  margin-top: 500px;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .4em .8em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #2C3268;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px ;
  transition: background-color 0.3s;

  &:hover {
    background-color: #095cae; 
  }

}
@media (max-width: 768px) {
  .form {
    max-width: 90%; 
  }
}
@media (max-width: 480px) {
  .form-input,
  .form-btn {
    font-size: 12px; 
  }
}


.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}


.header {
  background-color: #2C3268;
  padding: 8px;
  text-align: center;
  color: white;
  max-width: 3000px;
  position:absolute;
  top: 0px;
  left:0px;
  right: 0px;
  font-size: 28px;
  
} 

@media (max-width: 768px) {
  .header h1 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .header h1 {
    font-size: 20px;
  }
}

.error{
  font-size: 12px;
  text-align: left;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  flex-basis: 150px; 
  margin-left: 0px;;
}

.form-row input {
  flex: 5;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; 
  padding-inline: 20px;

}

.register2 {
  max-width: 550px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 30px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: #dce7ee;
  margin-top: 220px;
}

.error-row {
  color: red;
  font-size: 12px;
  margin-left: 85px;
  margin-top: 20px;
}

.error-msg {
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  background-color: #dc3545; /* Red background color */
  color: #fff; /* White text color */
  padding: 10px; /* Padding around the message */
  border-radius: 5px; /* Rounded corners for a softer look */
  border: 1px solid #dc3545; /* Border color for additional emphasis */
  margin-bottom: 0px;
  display: flex;
}

.success {
  opacity: 0.8;
  background-color: #198754;
  border: 1px solid #198754;
  margin-top: 250px;
  padding: 100px;
}

/**
 * successfull-mark
 */
 .success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
  
  .check-icon {
      margin-top: 300px;
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid green;
      
      &::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
      }
      
      &::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
      }
      
      &::before, &::after {
          content: '';
          height: 100px;
          position: absolute;
          opacity: 0;
          transform: rotate(-45deg);
      }
      
      .icon-line {
          height: 5px;
          background-color: green;
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;
          
          &.line-tip {
              top: 46px;
              left: 14px;
              width: 25px;
              transform: rotate(45deg);
              animation: icon-line-tip 0.75s;
          }
          
          &.line-long {
              top: 38px;
              right: 8px;
              width: 47px;
              transform: rotate(-45deg);
              animation: icon-line-long 0.75s;
          }
      }
      
      .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid green;
      }
      
      .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
          background-color: #FFFFFF;
          opacity: 0;
      }
  }
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 3em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #2c3268;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1.0em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@keyframes rotate-circle {
  0% {
      transform: rotate(-45deg);
  }
  5% {
      transform: rotate(-45deg);
  }
  12% {
      transform: rotate(-405deg);
  }
  100% {
      transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  54% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  70% {
      width: 50px;
      left: -8px;
      top: 37px;
  }
  84% {
      width: 17px;
      left: 21px;
      top: 48px;
  }
  100% {
      width: 25px;
      left: 14px;
      top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  65% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  84% {
      width: 55px;
      right: 0px;
      top: 35px;
  }
  100% {
      width: 47px;
      right: 8px;
      top: 38px;
  }
}



/*Dashboard */
/* .cards{ */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  flex: 0 0 calc(28% - 20px);
  width: 100%;
  background: #e6e9ed;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 25px;
  transition: .3s;
  border: 2px solid transparent;
}

.card:hover{
  border-color: #2C3268;
}
.containe{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
  height: 400px; /* Set the desired height for your scrollable container */
  /* overflow-y: auto; 
}
section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  position:absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px; 
}

.bottom-button {
  padding: 10px 20px;
  background-color:  #2C3268;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
} */ */


/*Select_a_Subject */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card1 {
  flex: 0 0 calc(48% - 20px); 
  max-width: calc(48% - 20px);
  width: 100%;
  background: #e6e9ed;
  border-radius: 10px;
  padding: 80px;
  margin-bottom: 25px;
  margin-top: 500px;
  transition: 0.3s;
  border: 2px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.bottom-button1 {
  padding: 10px 20px;
  background-color: #2c3268;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 0;
}

.card-button1 {
  width: 75%;
  margin-bottom: 10px;
  padding: 10px 120px;
  background-color: #2f3771;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
}

/* Attendance page */
.table-wrapper {
  width: 100%;
}
.table {
  display: block;
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  border-radius: 10px;
  white-space:nowrap ;
  width: 100%;
  max-width: 80%;
  margin: auto;
  overflow-x: auto;
}
.table thead{
  background-color: #E5E5E5;
  color: #222;
}
.table th,
.table td {
  padding: 1.2rem;
}
.table td {
  border-top: 1.0px solid #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table tbody tr:hover{
  background-color: #eee;
}
.expand{
  width: 100%;
}

.table th:nth-child(1), .table td:nth-child(1) {
  width: 30%; 
}

.table th:nth-child(2), .table td:nth-child(2) {
  width: 40%;
}

.table th:nth-child(3), .table td:nth-child(3) {
  width: 30%; 
}


/* CSS File for footer Component */

footer {
  background-color: #2c3268;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  margin-top: auto;
}

/* Dashboard_New_User */
.bottom-button2 {
  padding: 10px 20px;
  background-color: #2c3268;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 100px;
}

.sidebar {
  height: 450px;
  width: 220px;
  background-color: #6F7B9A;
  position: absolute;
  top: 99px;
  left: 0;
  overflow-y: auto; 

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
  }

  .sidebar ul li span.icon {
    margin-right: 30px;
  }

  a:hover {
    background-color: #2C3268;
  }

  .active a {
    background-color: #2C3268;
  }
}