.table-wrapper {
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.table-scroll {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.table-scroll table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%; /* Set the width to 100% */
}

.table-scroll th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 2;
}

.table-scroll th,
.table-scroll td {
    padding: 8px;
    text-align: left;
}

.edit-button,
.delete-button {
    background-color: transparent;
    color: #007bff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button {
    color: #dc3545;
}

.edit-modal,
.add-lecturer-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 80vh; /* Set a maximum height relative to the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the maximum height */
}

.blur-effect {
    filter: blur(5px);
}

.table-scroll.modal-open {
    filter: blur(5px);
    pointer-events: none;
}
