.header {
    background-color: #2C3268;
    padding: 8px;
    text-align: center;
    color: white;
    max-width: 3000px;
    position:absolute;
    top: 0px;
    left:0px;
    right: 0px;
    font-size: 20px;
  }