.register {
  display: flex;
  border: 2px solid #2C3268;
  border-radius: 20px;
  background-color: #d4e1f2;
  padding: 20px;
  box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.1);
}

.register .col-1 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register .col-1 h1 {
  font-size: 24px;
  color: #2C3268;
  margin-bottom: 20px;
}

.forgetpw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.forgetpw .flex-col input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #2C3268;
  border-radius: 8px;
  font-size: 16px;
  color: #2C3268;
}

.forgetpw .flex-col input[type="email"] {
  display: block;
  margin: 0 auto;
  margin-left: -10px;
}

.success-message,
.error-message {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.success-message {
  color: #28a745;
}

.error-message {
  color: #dc3545;
}

.btn1,
.btn2 {
  width: 85%;
  padding: 12px;
  background-color: #2C3268;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn1:hover,
.btn2:hover {
  background-color: #1a1d4a;
}
