.register .col-1{
  
    width: 70%; 
    padding: 10px 20px 0px 10px ; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    
  }
  .register .col-1 h1 {
    margin-top: -100px; 
}

  .register{
    
    display:flex;
    border: 1px solid #141415;
    border-radius: 30px;  
    background-color:#dce7ee ;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
  
  }
  .flex{
    display: flex;
    gap: 1em; 
  }
  
  .flex-col{
    flex-direction: column;
  }
  
  .forgetpw{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }