.register .col-1{
  
    width: 70%; 
    padding: 0px 20px 0px 60px ; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
  
  }
  
  .register{
    
    display:flex;
    border: 1px solid #66696c;
    border-radius: 30px;  
    background-color:#dce7ee ;
    display: flex;
    flex-direction: column;
    margin-top: 25%; 
    padding: 2px;
   
  }
  .flex{
    display: flex;
    gap: 1em; 
  }
  
  .flex-col{
    flex-direction: column;
  }
  
  .forgetpw{
    display:flex;
    flex-direction: column;
    align-items: center;
  }